.dashboardLayout {
  display: flex;
  gap: 50px;
  padding-top: 20px;
  height: 100%;
  scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */

  .menu {
    flex: 1;
  }

  .content {
    flex: 4;
    background-color: #12101b;
  }
}
